//- NOTE: for some reasuse include:markdown-it doesn't work with parcel-bundler

.content
  :markdown-it
    I am a developer interested in making things both on the web and in apps.
    By day I'm a Research Software Engineer at [Open Lab](https://openlab.ncl.ac.uk), a cross-disciplinary research group at Newcastle University.
    
    I make web technologies and apps to support researcher's projects ranging from [Transport Engagements](https://metrofutures.org.uk) through [Geolocation based tools](https://make.place/spotter/) all the way to [global WhatsApp games](https://whatfutures.org/)
    
    To make these projects happen I make use of a lot of technologies and methodologies.
    I'm a keen test driven developer and agile worker and always like to try out different frameworks.
    For instance this site uses [Parcel](https://parceljs.org/) and [Pug](https://pugjs.org) with a sprinkle of [Sass](https://sass-lang.com/).
    To host all my projects I use [Docker]() to containerise and orchestrate my web stacks and I'm quite excited about [Kubernetes](https://kubernetes.io/) at the moment.
    
    My latest projects are always on [GitHub](https://github.com/robb-j) and my latest ramblings are on [Twitter](https://twitter.com/Robbb_J).
