//- Opengraph tags, http://ogp.me/

meta(property="og:title", content="Rob Anderson - Research Software Engineer")
meta(property="og:description", content="I am a developer interested in making things both on the web and in apps. By day I'm a Research Software Engineer at Open Lab, Newcastle University")
meta(property="og:type", content="website")
meta(property="og:url", content="https://andrsn.uk")
//- meta(property="og:image", content="./img/me.jpg")
//- NOTE: the img doesn't get processed?

meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="@Robbb_J")
