doctype html

include pug/mixins.pug

head
  title Rob Anderson
  meta(charset="UTF-8")
  link(rel="icon", href="./img/favicon.png")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:200|Poppins")
  include pug/opengraph.pug

body.is-full-layout
  header.hero.is-primary.is-bold
    .hero-body
      .container.has-text-centered
        h1.title.is-super-light.is-1 Rob Anderson
        h2.subtitle Research Software Engineer
  main.section
    .content-grid.container
      .my-pretty-face
        img(src="./img/me.jpg", alt="Rob Anderson's Face")
      .where-i-hide-online
        a.button.is-circle.is-large.twitter(href="https://twitter.com/Robbb_J")
          i.icon.fab.fa-twitter
        a.button.is-circle.is-large.github(href="https://r.r0b.io")
          i.icon.fab.fa-github
        a.button.is-circle.is-large.dockerhub(href="https://i.r0b.io")
          i.icon.fab.fa-docker
      .all-about-me
        include pug/about.pug
  footer.has-text-centered.is-monospace
    | View source on
    |
    a(href="https://github.com/robb-j/andrsn.uk") GitHub
  script(src="./js/index.js")
